<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Manuscript Collection</title>
		<script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
		<script type="text/javascript" src="/static/js/script.js"></script>
		<link rel="stylesheet" href="static/css/style.css">
	</head>
		
	
	<body>
		<div class = "header">
			<h1 style="text-align: center;">Manuscript Collection Online Interface</h1>
		</div>
		
		<div class="sidebar">
			<a href="/addrecord">Create New Record</a>
			<br>
			<a href="/msslist">View List of Manuscripts</a>
			
			
		</div>
		<p>Welcome to the Online Interface for the Manuscript Collection!  Here you can explore and learn about the origins of some of the works in the collection.</p>
	</body>
</html>