<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Manuscript Collection</title>
		<link rel="stylesheet" href="static/css/style.css">
	</head>
		
	
	<body>
		<h1 style="text-align: center;">Welcome to the Manuscript Collection Online Interface</h1>
		<div class="sidebar" style="float: left; background-color: red; width: 300px;">
			<a href="/addrecord">Create New Record</a>
			<br>
			<a href="/msslist">View List of Manuscripts</a>
			
			
		</div>
		<p>U lukomoria dub zelenyi; zlataia tsep' na dube tom, i dnem, i noch'iu kot 
			uchenyi vse khodit po tsepi krugom.  Idet nalevo, pesn' navodit, napravo, skazku govorit.</p>
	</body>
</html>