<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Web Architecture: Project 1</title>
		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
	
	<h1>URL Shortener Project</h1>
		
	<script type="text/javascript" src="static/js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="static/js/script.js"></script>
		<ol>
			<li>Enter the full URL of a page to redirect to in the top field.</li>
			<li>Enter the shortened path (letters only) you'd like to use in the lower field.</li>
			<li>Push the button at bottom.  Voila!  The path "short/(yourword)" will now redirect to the full URL.</li>		
		</ol>
	<form id="userinput" action="/create" method="post">
			<input id="input_url" name="input_url" type="text">
			<br>
			<label for="input_url">Enter the full URL in the field above.</label>
			<br>
			<input id="input_short" name="input_short" type="text">
			<br>
			<label for="input_short"> Enter the path you want to shorten it to in the field above.</label>
			<br>
			<!--input button is disabled by default; enabled on verification of text-->
			<input id="saveurl" type="submit" value="Save Shortened URL" disabled>
		</form>

	</body>
</html>
