<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Web Architecture: Project 1</title>
		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
	
	<h1>URL Shortener Project</h1>
		
	<script type="text/javascript" src="static/js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="static/js/script.js"></script>

<!--add an ordered list of instructions to satisfy tags req.?-->

		<form id="userinput" action="/create" method="post">
			<input id="input_url" name="input_url" type="text">
			<br>
			<label for="input_url">Enter the full URL in the field above.</label>
			<br>
			<input id="input_short" name="input_short" type="text">
			<br>
			<label for="input_short"> Enter the path you want to shorten it to in the field above.</label>
			<br>
			<!--input button is disabled by default; enabled on verification of text-->
			<input id="saveurl" type="submit" value="Save Shortened URL" disabled>
		</form>

	</body>
</html>
