<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>List of All Manuscripts</title>
		
		<link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style.css">
		<script type="text/javascript" src="http://127.0.0.1:5000/static/js/jquery-1.11.3.js"></script>
		<script type="text/javascript" src="http://127.0.0.1:5000/static/js/script.js"></script>
	</head>
	<body>
		<div id="mssinfotable">
		<script type="text/javascript">
			makeTableFromJson({{data | tojson}});
		</script>
			
	</div>
		
	</body>

</html>
