<!DOCTYPE html>
<html lang="en-us">


	<head>
		<title>Record Added</title>
		<link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style.css">
	</head>
	<body>
		<h1>Success!</h1>
		
		<p>Your new record, <span class="output">{{success_title}}</span>, has been added to the database.  You may view it <a href="http://127.0.0.1:5000/record/{{url_id}}">here</a>.</p>
		
		
		<!--<p><span class="output">{{shortened}}</span> will now redirect to <span class="output">{{target}}</span></p>	
		-->
	</body>
	
	
</html>